<div class="login-status-header">

    <div *ngIf="isAuthenticated" class="login-status-user-info">
        Welcome back {{ userFullName}}! 
    </div>
    <div>
        <button (click)="login()"  *ngIf="!(isAuthenticated)"  class="security-btn">Login</button>

        <button *ngIf="isAuthenticated" (click)="logout()" class="security-btn">Logout</button>

        <button *ngIf="isAuthenticated" routerLink="/member" class="security-btn ml-1">Member</button>

        <button *ngIf="isAuthenticated" routerLink="/order-history" class="security-btn ml-1">Orders</button>
    </div>
</div>
